<!-- Perform Backup Modal -->
<div id="backupModal" class="modal wide">
	<div class="modal-overlay"></div>
	<div class="modal-content">
		<div class="modal-header">
			<h3><i class="fas fa-floppy-disk"></i> Backup Game</h3>
			<button class="modal-close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="modal-body">
			<div class="warning-message">
				<i class="fas fa-exclamation-triangle"></i>
				<p>
					Warning: Performing a backup usually stops the game during the procedure.
				</p>
			</div>
			<div class="terminal"></div>
		</div>
		<div class="modal-footer">
			<button class="action-restore" id="confirmBackupBtn">
				<i class="fas fa-floppy-disk"></i>
				Confirm Backup
			</button>
			<button class="action-cancel modal-close">
				<i class="fas fa-times"></i>
				Cancel
			</button>
		</div>
	</div>
</div>

<script>
	let serviceBackupCallback;

	function openServiceBackupModal(host, application, service, callback) {
		const modal = document.getElementById('backupModal');

		modal.dataset.host = host;
		modal.dataset.guid = application;
		modal.dataset.service = service;

		modal.querySelector('.warning-message').style.display = 'flex';
		modal.querySelector('.terminal').style.display = 'none';
		openModal(modal);

		serviceBackupCallback = callback;
	}

	function performServiceBackupModal() {
		const modal = document.getElementById('backupModal'),
			terminalOutput = modal.querySelector('.terminal'),
			host = modal.dataset.host,
			application = modal.dataset.guid,
			service = modal.dataset.service,
			version = getAppAPIVersion(application, host);

		let url;
		if (VersionCompare.ge(version, 2) && service) {
			url = `/api/application/backup/${application}/${host}/${service}`;
		}
		else {
			url = `/api/application/backup/${application}/${host}`;
		}

		modal.querySelector('.warning-message').style.display = 'none';
		terminalOutput.textContent = 'Performing backup... Please wait.\n';
		terminalOutput.style.display = 'block';
		stream(
			url,
			'POST',
			{'Content-Type': 'application/json'},
			null,
			(event, data) => { terminalOutputHelper(terminalOutput, event, data); }
		)
			.then(() => {
				showToast('success', 'Backup completed successfully.');
				if (serviceBackupCallback) {
					serviceBackupCallback();
					serviceBackupCallback = null;
				}
			}).catch(() => {
				showToast('error', 'Backup process encountered an error. See terminal output for details.');
			});
	}

	window.addEventListener('DOMContentLoaded', () => {
		confirmBackupBtn.addEventListener('click', performServiceBackupModal);
	});
</script>