<h3>Configuration</h3>
<div class="info-message">
    <p>
        Below are all configurable options for this application.<br/>
        These settings generally affect <strong>ALL</strong> instances for this game on this server.
    </p>
</div>

<div id="appConfigurationContainer" style="margin-bottom: 2rem;">
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <!-- Configuration interface will be inserted here -->
</div>
