<h3>System Information</h3>
<div class="host-details-info-grid">
    <div class="info-item">
        <div class="label">Hostname</div>
        <div class="value host-name-placeholder">Loading...</div>
    </div>
    <div class="info-item">
        <div class="label">Public IP</div>
        <div class="value" id="hostPublicIP">Loading...</div>
    </div>
    <div class="info-item">
        <div class="label">Operating System</div>
        <div class="value" id="hostOSInfo">Loading...</div>
    </div>
    <div class="info-item">
        <div class="label">Kernel</div>
        <div class="value" id="hostKernel">Loading...</div>
    </div>
    <div class="info-item">
        <div class="label">CPU Model</div>
        <div class="value" id="hostCPUModel">Loading...</div>
    </div>
    <div class="info-item">
        <div class="label">CPU Cores</div>
        <div class="value" id="hostCPUCores">Loading...</div>
    </div>
</div>

<br/><br/>

<h3>Installed Applications</h3>
<div id="hostApplicationsList">
    <div><i class="fas fa-spinner fa-spin"></i> Loading applications...</div>
</div>
