
<!-- Upload Progress Modal -->
<input type="file" id="fileBackupInput" style="display: none;" accept=".tar.gz" />


<!-- Delete Confirmation Modal -->
<div id="deleteBackupModal" class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h3><i class="fas fa-exclamation-triangle"></i> Confirm Deletion</h3>
            <button class="modal-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="warning-message">
                <i class="fas fa-exclamation-triangle"></i>
                <div>
                    <p>This will permanently delete the backup archive!</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="action-remove" id="confirmDeleteBackupBtn">
                <i class="fas fa-trash"></i>
                Delete Permanently
            </button>
            <button class="action-cancel modal-close">
                <i class="fas fa-times"></i>
                Cancel
            </button>
        </div>
    </div>
</div>
