<h3>Automated Updates</h3>
<div class="warning-message" id="automatedUpdatesDisabledMessage" style="display:none;">
    Automatic updates are NOT enabled!
</div>
<div class="success-message" id="automatedUpdatesEnabledMessage" style="display:none;">
    <p>
        Automatic updates are enabled - game will check for updates and <strong>if updates are present</strong> will restart to apply them automatically.
    </p>
</div>
<div>
    <button class="action-update" id="openUpdateBtn">
        <i class="fas fa-circle-up"></i>
        Update Game
    </button>
    <button class="action-edit" id="configureAutoUpdateBtn">
        <i class="fas fa-clock"></i>
        Configure Automatic Updates
    </button>
</div>

<br/><br/>

<h3>Automated Restarts</h3>
<div class="warning-message" id="automatedRestartsDisabledMessage" style="display:none;">
    Automatic restarts are NOT enabled!
</div>
<div class="success-message" id="automatedRestartsEnabledMessage" style="display:none;">
    Automatic restarts are enabled - game will restart (and update if necessary) automatically on a set schedule.
</div>
<div>
    <button class="action-edit" id="configureAutoRestartBtn">
        <i class="fas fa-power-off"></i>
        Configure Automatic Restarts
    </button>
</div>

<br/><br/>

<h3>Automatic Start</h3>
<div class="warning-message" id="automatedStartDisabledMessage" style="display:none;">
    <p>This service will <strong>NOT</strong> start automatically when the server reboots.</p>
</div>
<div class="success-message" id="automatedStartEnabledMessage" style="display:none;">
    This service will start automatically when the server reboots.
</div>
<div>
    <button data-action="enable" class="action-enable service-control" id="configureAutoStartEnableBtn">
        <i class="fas fa-toggle-on"></i>
        Enable Start on Boot
    </button>
    <button data-action="disable" class="action-disable service-control" id="configureAutoStartDisableBtn">
        <i class="fas fa-toggle-off"></i>
        Disable Start on Boot
    </button>
</div>

<br/><br/>

<h3>Reinstall Application</h3>
<div class="info-message">
    <p>
        If you run into issues with this application or there are configuration updates available from the maintainer,
        you can reinstall this game without affecting your game data.
        <br/><br/>
        You will need to stop the game before performing a reinstall however.
    </p>
</div>
<div>
    <button id="reinstallBtn" class="link-control action-create" title="Reinstall/Repair Game">
        <i class="fas fa-undo"></i>
        Reinstall Game
    </button>
</div>

<br/><br/>

<h3>Uninstall Application</h3>
<div class="warning-message">
    <p>
        Completely remove this application from this server including all game data.
    </p>
</div>
<div>
    <button id="uninstallBtn" class="link-control action-remove" title="Uninstall Game">
        <i class="fas fa-trash"></i>
        Uninstall Game
    </button>
</div>

