<h3>Quick Search</h3>
<div class="info-message" style="flex-wrap:wrap;">
    <p style="flex:1 100%;">
        Filter to quickly find an option by its name.
    </p>

    <div class="form-group" style="flex:1 100%;">
        <input type="search" placeholder="Quick Filter" id="quick-search" disabled="disabled"/>
    </div>
</div>
<hr/>
<br/>

<h3>Options</h3>
<div class="info-message" id="optionsMessageNormal">
    <p>
        Below are all configurable options for this game instance and application.<br/>
        Settings with a "<i class="fas fa-globe"></i>" icon indicate that the option is shared
        with all instances/maps of this game on this server, otherwise the option is unique to this instance/map.
    </p>
</div>

<div class="warning-message" id="optionsMessageActive" style="display:none;">
    <p>
        <strong>EDITING IS DISABLED WHILE GAME IS ACTIVE</strong><br/><br/>
        Below are all options for this game instance and application.<br/>
        Your game is currently <strong>active</strong> so these are read-only.
    </p>
</div>

<div id="configurationContainer" style="margin-bottom: 2rem;">
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <!-- Configuration interface will be inserted here -->
</div>
