<h3>Configuration</h3>
<div class="info-message" id="optionsMessageNormal">
    <p>
        Below are all configurable options for this game instance.
    </p>
</div>

<div class="warning-message" id="optionsMessageActive" style="display:none;">
    <p>
        <strong>EDITING IS DISABLED WHILE GAME IS ACTIVE</strong><br/><br/>
        Below are all options for this game instance.<br/>
        Your game is currently <strong>active</strong> so these are read-only.
    </p>
</div>

<div id="configurationContainer" style="margin-bottom: 2rem;">
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label class="form-label">Loading</label><p class="help-text">Please wait while options are loaded</p><input type="text" disabled="disabled"/>
    </div>
    <!-- Configuration interface will be inserted here -->
</div>
