<div class="logs-controls">
    <div class="button-group pager-buttons">
        <button id="logs-pager-previous" class="disabled"><i class="fas fa-angles-left"></i> Previous</button>
        <button id="logs-pager-next" class="disabled">Next <i class="fas fa-angles-right"></i></button>
    </div>
    <div class="button-group range-buttons">
        <button id="logs-mode-hour"><i class="fas fa-hourglass"></i> Hourly</button>
        <button id="logs-mode-day"><i class="fas fa-calendar"></i> Daily</button>
        <button id="logs-mode-live"><i class="fas fa-circle-play"></i> LIVE</button>
    </div>
</div>
<div id="logsContainer" class="terminal"></div>

<script src="<%= assetUrl('/assets/service_logs.js') %>"></script>
